// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

body, html {
    
}

.side-menu {
    
}

@include media-breakpoint-down(md) {
    .main-content-inner {
        padding: 1em 2em;
        margin-bottom: 2em;
    }
}

@include media-breakpoint-up(lg) {
    .main-content-inner {
        padding: 2em 4em;
    }
}