// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

html {
    
}

.main-content-inner, .container-inner, .main-column {
    min-height: 100vh;
}

.side-menu {
    
}

.sidebar {
    
}

.post-card {
    padding: 2em;
}

.post {
    padding: 4em;
    background: #fff;
}

.main-content-inner {
    padding: 3em;
}

.single {
    .main-content-inner {
        padding: 0;
    }
}

.page-inner {
    padding: 2em;
}

// Mobile view
@include media-breakpoint-down(md) {
    .main-content-inner {
        //padding: 0em 1em;
        //margin-bottom: 2em;
    }
}

.post-comments {
    padding: 4em;
}

.results-headline {
    padding-left: 2em;
}