// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

body, html {
    
}

.side-menu {
    
}

.sidebar {
    
}

.post-card {
    padding: 2em;
}

.post {
    padding: 4em;
    background: #fff;
}

.main-content-inner {
    padding: 3em;
}

.single, .page {
    .main-content-inner {
        padding: 0;
    }
}

// Mobile view
@include media-breakpoint-down(md) {
    .main-content-inner {
        //padding: 0em 1em;
        //margin-bottom: 2em;
    }
}

// Desktop view
@include media-breakpoint-up(lg) {
}

.post-comments {
    padding: 4em;
}