$base-color: #222222;
$icon-color: #faca13;
$highlight-color: #faca13;
$notification-color: #faca13;
$button-color: #faca13;

$menu-highlight-text: #171717;
$menu-highlight-icon: #171717;

$menu-submenu-text: #faca13;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #444444;

@import "../../../../../wp-admin/css/colors/admin";