$font-family-base: "Open Sans", sans-serif;
$primary-color: #faca13;
$body-bg-color: #ffffff;
$link-color: #f00;
$h-color: #333;
$small-color: #aaa;
$h-highlight-color: $primary-color;
$sidebar-width: 25%;
$sidebar-width: 16.66667%;

@import "_layout";
@import "_typography";

* {
  //outline: 1px dashed purple;
}

@include media-breakpoint-up(lg) {
  body {
    background-image: repeating-linear-gradient(90deg, 
      $primary-color 0.00%, $primary-color 25%,
      $body-bg-color 25%, $body-bg-color 100%,
    );
  }
}

@include media-breakpoint-up(xl) {
  body {
    background-image: repeating-linear-gradient(90deg, 
      $primary-color 0.00%, $primary-color 16.66667%,
      $body-bg-color 16.66667%, $body-bg-color 100%,
    );
  }

  body.single {
    background-image: repeating-linear-gradient(90deg, 
      $primary-color 0.00%, $primary-color 16.66667%,
      $body-bg-color 16.66667%, $body-bg-color 76%,
      $primary-color 76%, $primary-color 100%,
    );
  }
}

.side-menu {
  .nav-sidebar {
    a:hover {
      color: #ffffff;
    }

    a:hover img {
      filter: invert(100%) contrast(300%);
    }

    ul.menu {
      list-style: none;
      padding: 0;

      &>li {
        margin-bottom: 0.5em;

        a {
          font-family: "PT Serif", serif;
          color: #171717;
          text-decoration: none;
          font-size: 1.2em;

          &:hover {
            color: #fff;
          }
        }
      }

      ul {
        list-style: none;
        padding: 0;
        padding: 0.5em 0 0.5em 0;

        li {
          margin: 0;
        }

        a {
          font-family: "Open Sans", sans-serif;
          font-weight: normal;
          font-size: 1em;
        }
      }
    }    
  }
}

// Mobile view
@include media-breakpoint-down(md) {
  .side-menu {
    background-color: $primary-color;

    .nav-sidebar {
      //@include make-row();

      .logo {
        padding: 1.5em 3em 1.5em 3em;
        @include make-row();

        img {
          width: 2.5em;
        }

        p {
          margin: 0.1em 0 0 0.5em;
          font-family: "PT Serif", serif;
          font-weight: 600;
          font-size: 1.4em;

          a {
            color: #171717;
            text-decoration: none;
          }
        }
      }

      .menu-toggle {
        text-decoration: none;
        background: #fff;
        color: #171717;
        display: inline-block;
        padding: 0.2em 1em;
        margin-left: 2em;

        &:hover {
          color: $primary-color;
        }
      }

      ul.menu {
        display: none;
        margin-top: 1em;
        margin-left: 2em;
        list-style: none;
        padding: 0;
      }

      ul.menu-opened {
        display: block;
      }
    }
  }
}

// Desktop view
@include media-breakpoint-up(lg) {
  .menu-toggle {
    display: none;
  }

  .side-menu {
    background-color: $primary-color;

    .nav-sidebar {
      padding: 4em 2em 2em 2em;

      .logo {
        img {
          width: 4em;
        }

        p {
          font-family: "PT Serif", serif;
          font-weight: 600;
          font-size: 1.4em;
          margin-top: 0.5em;
          padding-bottom: 0.5em;

          a {
            color: #171717;
            text-decoration: none;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.post-meta {
  margin-bottom: 1em;
  margin-top: -1em;
  color: $small-color;

  a {
    color: $primary-color;
  }
}

.post-card {
  .read-more {
    background: $h-color;
    color: $body-bg-color;
    display: inline-block;
    padding: 0.2em 0.4em;

    &:hover {
      background: $primary-color;
    }
  }

  h2 {
    margin-top: 0.8em;
  }

  .thumbnail {
    margin-top: 2.5em;
    width: 100%;
    box-shadow: 5px 5px 0px $primary-color;
    
    img {
      width: 100%;  
      height: auto;
    }
  }
}

a.button {
  border-radius: 5px;

  &:hover {
    text-decoration: none;
  }
}