$font-family-base: "Open Sans", sans-serif;
$primary-color: #faca13;
$body-bg-color: #ffffff;
$link-color: #f00;
$h-color: #333;
$h-highlight-color: $primary-color;
$sidebar-width: 16.66667%;

@import "_layout";
@import "_typography";

* {
  //outline: 1px dashed red;
}

body {
  background-image: repeating-linear-gradient(90deg, 
    $primary-color 0.00%, $primary-color $sidebar-width,
    $body-bg-color$sidebar-width, $body-bg-color 100%,
  );
}

.side-menu {
  .nav-sidebar {
    padding: 3em 1em 1em 1em;

    a {
      transition: 1s filter linear;
    }

    a:hover {
      color: #ffffff !important;
      filter: blur(1px);
      transition: 0.5s filter linear;
    }

    .logo {
      img {
        width: 4em;
      }

      a:hover img {
        filter: invert(100%) contrast(300%);
      }

      p {
        font-family: "PT Serif", serif;
        font-weight: 600;
        font-size: 1.4em;
        margin-top: 0.5em;
        padding-bottom: 0.5em;

        border-bottom: 1px solid lighten($primary-color, 30);

        a {
          color: #171717;
          text-decoration: none;
        }
      }
    }

    ul.menu {
      list-style: none;
      padding: 0;

      a {
        font-family: "PT Serif", serif;
        color: #171717;
        text-decoration: none;
        font-size: 1.2em;
      }
    }
  }
}

.main-content-inner {
  padding: 1em 3em;
}